footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: static;
    float: none;
    background-color: #14213d !important;
    color: #FFFF !important;
    padding: 15px;
    justify-content: center;
}