<div class="credit-card-details">        
    <h1>Credit Cards</h1>
    <div class="">
        <button>new credit card</button>
    </div>
    <div class="" *ngFor="let creditCard of creditCards">
        <div class="" *ngIf="!isCreditCardEditable()">
            <div class="street">{{creditCard.number}}</div>
            <div class="city">{{creditCard.name}}</div>
            <div class="state">{{creditCard.expirationDate}}</div>
            <div class="country">{{creditCard.cvv}}</div>
        </div>
        <form *ngIf="isCreditCardEditable()">
            <div class="form-group">
                <input type="text" class="number" value={{creditCard.number}} />
            </div>
            <div class="form-group">
                <input type="text" class="name" value={{creditCard.name}} />
            </div>
            <div class="form-group">
                <input type="text" class="cvv" value={{creditCard.cvv}} />
            </div>
            <div class="form-group">
                <input type="text" class="expirationDate" value={{creditCard.expirationDate}} />
            </div>
            <button>update credit card</button>
            <button type="clear">Clear</button>
        </form>
        <div class="button-container" *ngIf="!isCreditCardEditable()">
            <button (click)="changeCreditCardEditable()">Edit Credit Card</button>
            <button (click)="deleteCreditCard(creditCard.id)">Delete Credit Card</button>
        </div>
    </div>
</div>