<div class="credit-card-details">
    <h1>Creditcards</h1>
    <div class="button-new">
        <button (click)="callNewCreditCardRoute()">New credit card</button>
    </div>
    <div class="" *ngFor="let creditCard of creditCards">
        <div class="">
            <div class="name">{{creditCard.name}}</div>
            <div class="number">{{creditCard.number}}</div>
            <div class="expirationDate">{{creditCard.expirationDate}}</div>
            <div class="cvv">{{creditCard.cvv}}</div>            
        </div>
        <div class="button-container">
            <button (click)="callEditCreditCardRoute(creditCard)">Edit credit card</button>
            <button (click)="callDeleteCreditCardRoute(creditCard.id)">Delete creditCard</button>
        </div>
    </div>
</div>