<div class="edit-profile-container">
    <form
        name="editProfileForm"
        [formGroup]="editProfileForm"
        (ngSubmit)="editUserOnClick()"  
        novalidate
    >
        <div class="form-group">
            <label for="username">Username</label>
            <div class="username">                
                <input type="text" class="form-control"
                formControlName="username">
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <div class="email">                
                <input type="text"
                    class="form-control"
                    formControlName="email"
                >
            </div>
        </div>        
        <div class="form-group">
            <label for="firstName">First name</label>
           <div class="firstName" >
                <input type="text"
                    class="form-control"
                    formControlName="firstName"
                >
           </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <div class="lastName">
                <input type="text"
                    class="form-control"
                    formControlName="lastName"
                >
            </div>
        </div>
        <div class="form-group">
            <label for="telephone">Telephone</label>
            <div class="telephone">
                <input type="text"
                    class="form-control"
                    formControlName="telephone"
                >
            </div>
        </div>        
        <button type="submit">
            Update profile
        </button>
        
    </form>
</div>