.toolbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: static;
    float: none;
    background-color: #14213d !important;
    color: #FFFF !important;
}

.toolbar-left {
    padding: 20px;
}

.logo {
    font-size: 30px;
    height: 60px;
    color: #FFFF !important;
}

.toolbar-fill,
.toolbar-right {
    display: inline-flex;
}

.toolbar-left {
    width: 20%;
}

.toolbar-right {
    width: 20%;
    justify-content: space-evenly;
}

.toolbar-fill {
    width: 60%;
    flex: 1
}

.search-toolbar {
    display: inline-flex;
    margin: auto;
    flex: 1;
}

input[type=text] {
    width: 80%;
    margin-left: auto;
    border: 3px solid #fca311;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    width: 46px;
    height: 46px;
    border: 1px solid #fca311;
    background: #fca311;
    text-align: center;
    color: #000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-right: auto;
}

.searchTerm:focus {
    color: #fca311;
}

.dropdown-menu,
.logged-dropdown-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signin-dropdown {
    color: #FFFF !important;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown-content,
.logged-dropdown-content {
    display: none;
    width: 30vw;
    font-size: 14px;
    line-height: 70px;
    height: 100px;
    overflow: hidden;
    background-color: #FFFF;
    border: #000 solid 1px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    z-index: 1;
}

.logged-dropdown-content {
    width: 20vw !important;
}

.icon-expand {
    height: 30px;
}

span {

    display: inline-flex;
    margin-bottom: 0px;
    color: black;
}


.signin-button {
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.signin-button:hover{
    text-decoration: underline;
}

.logout-button{
    margin: auto;
    padding: 1vw;
}

.logout-button:hover{
    text-decoration: underline;
}

a:visited,
a:link,
a {
    text-decoration: none;
    color: #1d4289;
}

.user-options{
    display: flex;
    justify-content: space-between;
}


.dropdown-menu:hover .dropdown-content {
    display: block;
    top: 80px;
    right: 85px;
    position: fixed;
}

.logged-dropdown-menu:hover .logged-dropdown-content {
    display: block;
    top: 80px;
    right: 85px;
    position: fixed;
}

.shopping-cart {
    padding: 10px;
    margin: auto;
    display: inline-flex;
}

.mat-icon-36-size {
    width: auto;
    height: auto;
    font-size: 36px !important;
}