<mat-toolbar class="topbar telative toolbar" 
  color="primary"  ng-reflect-color="primary" 
  style="flex-direction: row; box-sizing: border-box; display: flex;position: fixed;" 
  [class.mat-elevation-z24]="isActive"
>
  <span>
    <a routerLink="/home">
      <img src="../../assets/img/ressources/fulllogoWebstore.png" alt="Logo"/>
    </a>
  </span>
  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <input matInput type="text" placeholder="Search" />
  </mat-form-field>
  <button mat-icon-button aria-label="Search">
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-button
    [matMenuTriggerFor]="loginSignupMenu"
    aria-label="Login/Signup"
    *ngIf="!isLoggedIn"
  >
    Login/Signup
  </button>
  <mat-menu #loginSignupMenu="matMenu">
    <button mat-menu-item routerLink="/login">Login</button>
    <button mat-menu-item routerLink="/register">Signup</button>
  </mat-menu>
  <button
    mat-button
    [matMenuTriggerFor]="profileLogoutMenu"
    aria-label="Login/Signup"
    *ngIf="isLoggedIn"
  >
    {{username}}
  </button>
  <mat-menu #profileLogoutMenu="matMenu">
    <button mat-menu-item [routerLink]="['/user-details/'+username]">Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <button mat-icon-button aria-label="Cart" [routerLink]="[username+'/shopping-cart']">
    <mat-icon>shopping_cart</mat-icon>
  </button>  
</mat-toolbar>