.login-container{    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vw;
}

form{
    width: 30vw;
    padding: 2vw;
    border: 1px solid black;
    border-radius: 5px;    
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 0.5vw 1vw 0.5vw 1vw;
}

label{
    padding: 0.2vw;
    font-size: 20px;
    font-weight: 500;
}

input{
    width: 26vw;
    padding: 0.8vw;
    border-radius: 5px;
}

.invalid-feedback{
    color: red;
}

a{
    text-decoration: none;
    color: blue;
}

.login-form-field{
    width: 30vw;
}