<div class="profile-details">
    <h1>Profile</h1>
    <div hidden>{{id}}</div>
    <div class="username">{{username}}</div> 
    <div class="email">{{email}}</div>   
    <div class="firstName">{{firstName}}</div>
    <div class="lastName">{{lastName}}</div>    
    <div class="telephone">{{telephone}}</div> 
    
    <div class="button-container">
        <button (click)="callEditUserRoute()">Edit user</button>
        <button (click)="callEditPasswordRoute()">
            Change password
        </button>
    </div>
</div>