<div class="new-address-container">
    <form  name="newAddressForm"
        [formGroup]="newAddressForm"
        (ngSubmit)="callNewAddressRoute()"
        novalidate
    >
        <div class="form-group">
            <label for="street">Street</label>
            <div class="street">
                <input type="text"
                    formControlName="street"
                >
            </div>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <div class="city">
                <select formControlName="city">
                    <option ></option>
                    <option *ngFor="let city of filteredCity">
                        {{city.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <div class="state">
                <select formControlName="state"
                    (change)="filterCitiesOnChangeState($event)"
                >
                    <option></option>
                    <option 
                        *ngFor="let state of states"
                    >
                        {{state.name}}
                    </option>>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <div class="country">
                <select formControlName="country">
                    <option value="Brasil">Brasil</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="postalCode">Postal code</label>
            <div class="postal-code">
                <input type="text"
                    formControlName="postalCode"
                >
            </div>
        </div>
        <div class="buttons-container">
            <button type="submit">New address</button>
            <button type="clear">Clear</button>
        </div>
    </form>
</div>