<div class="new-address-container">
    <h3>New address</h3>
    <form name="newAddressForm"
        [formGroup]="newAddressForm"
        (ngSubmit)="callNewAddressRoute()"
        novalidate
    >
        <div class="form-group">
            <label for="street">Street</label>
            <div class="street">
                <input type="text"
                    formControlName="street"
                    [ngClass]="{ 'is-invalid': submitted && fc['street'].errors }"
                >
            </div>
            <div *ngIf="submitted && fc['street'].errors" class="invalid-feedback">
                <div *ngIf="fc['street'].errors['required']">Street is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <div class="state">
                <input type="text" 
                    list="dynamicStates" 
                    id="stateInput" 
                    formControlName="state"
                    (change)="filterCitiesOnChangeState($event)"
                    [ngClass]="{ 'is-invalid': submitted && fc['state'].errors }"
                >
                <datalist id="dynamicStates">
                    <option *ngFor="let state of states" 
                        [value]="state.name"
                    >
                        {{state.name}}
                    </option>
                </datalist>
            </div>
            <div *ngIf="submitted && fc['state'].errors" class="invalid-feedback">
                <div *ngIf="fc['state'].errors['required']">State is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <div class="city">
                <input type="text" 
                    id="cityInput"
                    formControlName="city"
                    list="dynamicCities"
                    [ngClass]="{ 'is-invalid': submitted && fc['city'].errors }"
                >
                <datalist id="dynamicCities">
                    <option *ngFor="let city of filteredCity" 
                        [value]="city.name"
                    >
                        {{city.name}}
                    </option>
                </datalist>
            </div>
            <div *ngIf="submitted && fc['city'].errors" class="invalid-feedback">
                <div *ngIf="fc['city'].errors['required']">City is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <div class="country">
                <input type="text"
                    formControlName="country"
                    id="countryInput"
                    list="countryList"
                    [ngClass]="{ 'invalid-feedback': submitted && fc['country'].errors }"
                >
                <datalist id="countryList">
                    <option>Brasil</option>
                </datalist>
            </div>
            <div *ngIf="submitted && fc['country'].errors" class="invalid-feedback">
                <div *ngIf="fc['country'].errors['required']">Country is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="postalCode">Postal code</label>
            <div class="postal-code">
                <input type="text"
                    formControlName="postalCode"
                    [ngClass]="{'is-invalid': submitted && fc['postalCode'].errors }"
                >
            </div>
            <div *ngIf="submitted && fc['postalCode'].errors" class="invalid-feedback">
                <div *ngIf="fc['postalCode'].errors['required']">Postal code is required</div>
                <div *ngIf="fc['postalCode'].errors['minlength']">Postal code must have at least 8 characters</div>
                <div *ngIf="fc['postalCode'].errors['maxlength']">Postal must have at maximum 8 characters</div>
            </div>
        </div>
        <div class="buttons-container">
            <button type="submit" class="primary-button">New address</button>
            <button type="reset" (click)="clearFormResidues()" class="thertiary-button">Clear</button>            
        </div>
        <div class="form-group">
            <div class="invalid-feedback" *ngIf="submitted && errorMessage">
                {{errorMessage | showServerError}}
            </div>
        </div>
    </form>
</div>