<div class="change-password-container">
    <form name="changePasswordForm"
        [formGroup]="changePasswordForm"
        (ngSubmit)="changePasswordOnClick()"  
    >
        <div class="form-group">
            <label for="password">Password</label>
            <div class="password">
                <input type="password" 
                formControlName="password"
                [ngClass]="{ 'invalid-feedback': submitted && fc['password'].errors }"
            >
            </div>
            <div *ngIf="submitted && fc['password'].errors" class="invalid-feedback">
                <div *ngIf="fc['password'].errors['required']">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <div class="new-password">
                <input type="password" 
                    formControlName="newPassword"
                    [ngClass]="{ 'invalid-feedback': submitted && fc['password'].errors }"
                >
            </div>
            <div *ngIf="submitted && fc['newPassword'].errors" class="invalid-feedback">
                <div *ngIf="fc['newPassword'].errors['required']">New password is required</div>
                <div *ngIf="fc['newPassword']!.hasError('strength')">New password must have at least one special character, one capital letter and one number</div>
                <div *ngIf="fc['newPassword'].errors['minlength']">New password need to have at least 8 characters</div>
                <div *ngIf="fc['newPassword'].errors['maxlength']">New password need to have at maximum 30 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <div class="confirm-password">
                <input type="password" 
                    formControlName="confirmPassword"
                    [ngClass]="{ 'invalid-feedback': submitted && fc['password'].errors }"
                >
            </div>
            <div *ngIf="submitted && fc['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="fc['confirmPassword'].errors['required']">Confirm password is required</div>
                <div *ngIf="fc['confirmPassword'].errors['minlength']">Confirm password need to have at least 8 characters</div>
                <div *ngIf="fc['confirmPassword'].errors['maxlength']">Confirm password need to have at maximum 30 characters</div>
                <div *ngIf="fc['confirmPassword']!.hasError('matching')">Confirm password does not match</div>
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="btn-edit-password primary-button">
                Edit password
            </button>
            <button type="clear" class="btn-clear-password-form thertiary-button">
                Clear
            </button>
        </div>
        <div *ngIf="submitted && errorMessage" class="invalid-feedback">
            {{errorMessage | showServerError}}
        </div>
    </form>
</div>