.edit-credit-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vw;
}

form{
    border: 1px solid black;
    padding: 2vw;
    border-radius: 15px;
}

label{
    margin-inline: 0.5vw;
}

input{
    padding: 0.8vw;
    width: 15vw;
    border-radius: 8px
}

.invalid-feedback {
    color: red;
}

button{
    margin-inline: 1vw;
    margin-block: 0.5vw;
    min-width: 5vw;
}

.card-network-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 10px;
    margin-inline: 10px;
}

.card-network-item{
    margin-inline: 0.5vw;
    max-width: 30px;
    max-height: 15px;
}