<div class="edit-address-container">
    <h3>Edit address</h3>
    <form>
        <div class="form-group">
            <div class="street"></div>
        </div>
        <div class="form-group">
            <div class="city"></div>
        </div>
        <div class="form-group">
            <div class="state"></div>
        </div>
        <div class="form-group">
            <div class="country"></div>
        </div>
        <div class="form-group">
            <div class="postalCode"></div>
        </div>
    </form>
</div>